<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
<div class="col-12 col-lg-6">
    <img src="/img/burger-7.jpg" class="d-block mx-lg-auto img-fluid hero-img" width="500" height="500" loading="lazy" alt="cooking with node">

</div>
<div class="col-12 col-lg-6">
<h1 class="display-5 fw-bold mb-3">
        Huge Selection of Delicious Recipe Ideas
    </h1>

    <div class="lead">
            Explore our huge selection of Delicious recipe ideas including: easy desert, delicious vegan,
            and vegeterian dinner ideas, gorgeous paste recipe, quick bakes, family meals and gluton-free recipe.
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/explore-latest" class="btn btn-outline-success btn-lg px-4 me-md-2">Explore Latest</a>
            <a href="/random-recipe" class="btn btn-danger btn-lg px-4 me-md-2">Show Random</a>

        </div>
</div>
</div>



<!-- ctaegories -->
<div class="row row-cols-2 row-cols-lg-6 row-cols-sm-3 g-2 g-lg-3 py-4">

 <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
        <img src="/img/thai-food.jpeg" height="150" width="150" alt="thai food" loading="lazy">
    </div>
    <div class="pt-1">thai food</div>
</a>


<a href="#" class="col text-center category__link">
    <div class="category__img shadow">
        <img src="/img/fashion.jpg" alt="american food" loading="lazy">
    </div>
    <div class="pt-1">
       View All
    </div>
</a>


</div>

<!-- categories end  -->

<!-- latest recipe start -->
<section class="pb-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Latest Recipe</h2>
        <a href="/explore-latest" class="ms-auto">View More</a>

    </div>

    <div class="row row-cols-2 row-cols-lg-5 row-cols-sm-3 g-2 g-lg-3">

    
    <a href="/recipe/" class="col text-center category__link">
        <div class="category__img category__img-large shadow">
            <img src="/img/food-three.jpeg" alt="american food" loading="lazy">
        </div>
        <div class="pt-1"> Chocolatey</div>
    </a>
</div>

</section>


<!-- submit -->
<section class="px-4 py-5 my-5 text-center">
    <img src="/img/" class="d-block ex-auto mb-4 img-fluid" alt="publish recipe image" width="566" height="250" loading="lazy">
    <h1 class="display-5 fw-bold">Publish Your Recipe For Free.</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Publish Your Recipe in fron of thousands for free</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/submit-recipe" class="btn btn-primary btn-danger btn-lg">Submit Recipe</a>
        </div>
    </div>

</section>